﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/modernizr-2.5.3.js"></script>
    @*boostrap references*@
    <link href="~/Content/Bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    @*Jquery Ui references*@
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Jquery-UI/customizeJqueryUI.css" rel="stylesheet" />
    @*Jtable JS*@
    <link href="~/Content/Jtable/themes/metro/blue/jtable.css" rel="stylesheet" />
    <link href="~/Content/Jtable/customizejtable.css" rel="stylesheet" />
    @*Common*@
    <link href="~/Content/Jquery.alerts/jquery.alerts.css" rel="stylesheet" />
    @*New Layout CSS*@
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
    <link href="~/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/fullcalendar.css">
    <link href="~/css/widgets.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet" />
    <link href="~/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="~/Content/toastr.css" rel="stylesheet" />
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="~/js/html5shiv.js"></script>
      <script src="~/js/lte-ie7.js"></script>
    <![endif]-->
</head>
<body>
    <section id="container" class="">
        @Html.Action("HeadMasterPartial", "Shared")
        <!--sidebar start-->
        @Html.Action("MenuLeftMasterPartial", "Shared")
        <!--sidebar end-->

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
                <div class="col-md-12  float-ck" style="float: left; right: 0px;">
                    <div id="hide_float_right">
                        <a href="javascript:hide_float_right()">Trò Chuyện Chung</a>
                    </div>
                    <div id="float_content_right">
                        <div id="MessagingDiv" class="rectangular-area">
                            Enter a message to send to all users:
    <input type="text" id="Message" style="width: 300px;" maxlength="128" />
                        </div>
                        <div id="TableUpdates" class="rectangular-area">
                            <h3>Latest received events (You are <span id="MyClientName">@ViewBag.ClientName</span>):
                            </h3>
                            <ul id="EventsList">
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!--main content end-->
    </section>
    <script src="~/Scripts/Boostrap/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    @*Knock Out*@
    <script src="~/Scripts/knockout-2.1.0.js"></script>
    <script src="~/Scripts/knockout-2.1.0.debug.js"></script>
    <script src="~/Scripts/jtable.2.4.0/jquery.jtable.js"></script>
    <script src="~/Scripts/jtable.2.4.0/localization/jquery.jtable.vi.js"></script>
    <script src="~/Scripts/jquery.alerts.js"></script>
    <script src="~/Scripts/VINASIC/date.format.js"></script>
    <script src="~/Scripts/VINASIC/common.js"></script>
    <!-- nice scroll -->
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="~/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <<script src="~/js/fullcalendar.min.js"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="~/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="~/js/calendar-custom.js"></script>
    <script src="~/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="~/js/jquery.customSelect.min.js"></script>
    <script src="~/assets/chart-master/Chart.js"></script>
    <!--custome script for all page-->
    <script src="~/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="~/js/sparkline-chart.js"></script>
    <script src="~/js/easy-pie-chart.js"></script>
    <script src="~/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/js/xcharts.min.js"></script>
    <script src="~/js/jquery.autosize.min.js"></script>
    <script src="~/js/jquery.placeholder.min.js"></script>
    <script src="~/js/gdp-data.js"></script>
    <script src="~/js/morris.min.js"></script>
    <script src="~/js/sparklines.js"></script>
    <script src="~/js/charts.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <!-- Include SignalR -->
    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    <script src="~/Scripts/toastr.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById('float_content_right').style.display = "none";
        });
    </script>
    <script type="text/javascript">
        function hide_float_right() {
            var content = document.getElementById('float_content_right');
            var hide = document.getElementById('hide_float_right');
            if (content.style.display == "none")
            { content.style.display = "block"; hide.innerHTML = '<a href="javascript:hide_float_right()">Đóng Trò Chuyện</a>'; }
            else {
                content.style.display = "none"; hide.innerHTML = '<a href="javascript:hide_float_right()">Xem Trò Chuyện</a>';
            }
        }
    </script>

</body>
</html>
