﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/VINASIC/Employee/Employee_Index.js"></script>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i>Quản Lý Nhân Viên
        </h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Order/Index">Home</a></li>
            <li><i class="fa fa-laptop"></i>Loại Dịch Vụ</li>
        </ol>
    </div>
</div>
<div id="jtableEmployee"></div>
<!-- Modal -->
<div class="modal fade" id="popup_Employee" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thêm/Sửa Nhân Viên</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <input type="hidden" data-bind="value: Id" />
                    <div class="form-group">
                        <label for="position">Chọn Chức Vụ</label>
                        <select id="position" class="form-control input-lg m-bot15 ">
                            <option value="0">Chức Vụ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Ngày Nhập hàng</label>
                        <input type="date" data-bind="value: HireDate" class="form-control" name="date" value="" id="date" />
                    </div>
                    <div class="form-group">
                        <label for="Name"><span class="glyphicon glyphicon-list-alt"></span>Tên Nhân Viên</label>
                        <input type="text" data-bind="value: Name" class="form-control" id="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Address"><span class="glyphicon glyphicon-comment"></span>Mô Tả</label>
                        <input type="text" data-bind="value: Address" class="form-control" id="Address" placeholder="Tên">
                    </div>
                     <div class="form-group">
                        <label for="Mobile"><span class="glyphicon glyphicon-list-alt"></span>Tên Nhân Viên</label>
                        <input type="text" data-bind="value: Mobile" class="form-control" id="Mobile" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Email"><span class="glyphicon glyphicon-comment"></span>Mô Tả</label>
                        <input type="text" data-bind="value: Email" class="form-control" id="Email" placeholder="Tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng</button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    Lưu</button>
            </div>
        </div>

    </div>
</div>
