﻿
@using VINASIC.Business.Interface.Enum
@model VINASIC.Business.Interface.Model.ModelErrorLog
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";  
}
<div class="contain ">
    <div>
        <div class="error">
            <div class="error-left">
                <img src="~/Content/VINASIC/ErrorPage/404.jpg" />
            </div>
            <div class="error-right">
                <div class="error-title">thông báo lỗi</div>
                <div class="short-error">
                    @if (Model.Id != 0)
                    {   <span>@eErrorMessage.UnKnowwn</span>  }
                    else
                    {   <span>@Model.ErrorCaption</span>    }
                </div>
                <div class="button-err">
                    <a btn="Logout" class="btn btn-primary">Quay Lại Trang Chủ</a>
                    @if (Model.Id != 0 && Model.IsDeveloper)
                    { 
                        <a class="btn btn-danger" data-toggle="collapse" href="#collapseError" aria-expanded="false" aria-controls="collapseError">Xem Chi Tiết</a>
                    }
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>

</div>



@*error detail*@
@if (Model.Id != 0 && Model.IsDeveloper)
{
    <div class="collapse" id="collapseError">
        <div class="well">
            <h3>Module Name : @Model.ModuleName</h3>
            <h3>Class Name : @Model.ErrorClass</h3>
            <h3>Method Name : @Model.ErrorMethod</h3>
            <h3>Acction Name : @Model.ActionError</h3>
            <h3>Class Name : @Model.ErrorClass</h3>
            Target Site :
            <span>@Model.TargetSite </span>
            Strack Trace:
            <span>@Model.StrackTrace </span>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $('[btn="Logout"]').click(function () {
            window.location.href = '/Authenticate/Logout';
        });
    });
</script>
