﻿
@using VINASIC.Object;
@using VINASIC.Business.Interface.Model
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ModelFeature> features = null;
    List<ModelPermission> permissions = null;
    ModelRole roleDetail = null;
    List<ModelRolePermission> rolePermissions = null;
    if(ViewData["Features"] != null && (ViewData["Features"] as List<ModelFeature>) != null)
    {
        features = ViewData["Features"] as List<ModelFeature>;
    }
    if (ViewData["Permissions"] != null && (ViewData["Permissions"] as List<ModelPermission>) != null)
    {
        permissions = ViewData["Permissions"] as List<ModelPermission>;
    }
    if (ViewData["RoleDetail"] != null && (ViewData["RoleDetail"] as ModelRole) != null)
    {
        roleDetail = ViewData["RoleDetail"] as ModelRole;
    <script>
        $(document).ready(function () {
            $('#id').val('@roleDetail.Id');
            $('#roleName').val('@roleDetail.RoleName');
            $('#description').val('@roleDetail.Decription');
        });
    </script>
    }
    if (ViewData["RolePermission"] != null && (ViewData["RolePermission"] as List<ModelRolePermission>) != null)
    {
        rolePermissions = ViewData["RolePermission"] as List<ModelRolePermission>;
    }
}
<script src="~/Scripts/SystemAccount/Role/Role_Create.js"></script>
<link href="~/Content/SystemAccount/Role/Role.css" rel="stylesheet" />

<div class="contains">
    <div class="contain-head">Quản Lý Phân Quyền</div>
    <div class="contain-main">
        <div class="modal-header custom-header">
            <span class="title ">Thông Tin Phân Quyền</span>
        </div>

        <div style="padding: 15px 10px">
            <div class="container-fluid">
                <div class="rows custom">
                    <div class="col-left " style="width: 45%">
                        <input type="hidden" id="id" value="0" />
                        <label for="exampleInputName2">Tên Quyền</label>
                        <input type="text" id="roleName" placeholder="Nhập Tên Phân Quyền ..." />
                    </div>
                    <div class="col-right">
                        <label for="exampleInputEmail2">Mô Tả</label>
                        <textarea id="description" placeholder="Nhập Mô Tả cho Phân Quyền (nếu có) ... "></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
        <div style="clear: both"></div>
        <div class="modal-footer custom-footer">
            <button btn="save" save class="btn btn-primary">
                <div class="button-image image-save"></div>
                Lưu Lại
            </button>
        </div>
    </div>

</div>
