﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/VINASIC/Customer/Customer_Index.js"></script>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i>Quản Lý Khách Hàng</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/DashBoard/Index">Home</a></li>
            <li><i class="fa fa-laptop"></i>Khách Hàng</li>
        </ol>
    </div>
</div>
<div id="jtableCustomer"></div>
<!-- Modal -->
<div class="modal fade" id="popup_Customer" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thêm/Sửa Khách Hàng</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <input type="hidden" data-bind="value: Id"/>

                    <div class="form-group">
                        <label for="Name"><span class="glyphicon glyphicon-list-alt"></span>Tên Loại</label>
                        <input type="text" data-bind="value: Name" class="form-control" id="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Address"><span class="glyphicon glyphicon-qrcode"></span>Mã Loại</label>
                        <input type="text" data-bind="value: Address" class="form-control" id="Address" placeholder="Code">
                    </div>
                    <div class="form-group">
                        <label for="Mobile"><span class="glyphicon glyphicon-comment"></span>Mô Tả</label>
                        <input type="text" data-bind="value: Mobile" class="form-control" id="Mobile" placeholder="Tên">
                    </div>
                    <div class="form-group">
                        <label for="Email"><span class="glyphicon glyphicon-qrcode"></span>Mã Loại</label>
                        <input type="text" data-bind="value: Email" class="form-control" id="Email" placeholder="Code">
                    </div>
                    <div class="form-group">
                        <label for="TaxCode"><span class="glyphicon glyphicon-comment"></span>Mô Tả</label>
                        <input type="text" data-bind="value: TaxCode" class="form-control" id="TaxCode" placeholder="Tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng</button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    Lưu</button>
            </div>
        </div>

    </div>
</div>
