﻿    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        background-image:url('/Content/HarvestChosen/chosen-sprite.png');
    }
    .chosen-container { 
        width:220px !important ; 
    }
    .chosen-container-multi .chosen-choices {
        border-radius:4px;
        cursor:pointer;
        border-color:#cccccc    ;
        padding:1px 6px
    }

    .jtable tbody tr td img {
        width:18px ; height:18px
    }

 