﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/modernizr-2.5.3.js"></script>

    @*boostrap references*@
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/customizebootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Boostrap/bootstrap.js"></script>

    @*Jquery Ui references*@
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Jquery-UI/customizeJqueryUI.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>

     @*MasterPage css*@
    <link href="~/Content/MasterPage/MasterPage.css" rel="stylesheet" />
    <script src="~/Scripts/VINASIC/MasterPage/MasterPage.js"></script>
    @*Knock Out*@
    <script src="~/Scripts/knockout-2.1.0.js"></script>
    <script src="~/Scripts/knockout-2.1.0.debug.js"></script>

    @*Jtable JS*@
    <link href="~/Content/Jtable/themes/metro/blue/jtable.css" rel="stylesheet" />
    <link href="~/Content/Jtable/customizejtable.css" rel="stylesheet" />
    <script src="~/Scripts/jtable.2.4.0/jquery.jtable.js"></script>
    <script src="~/Scripts/jtable.2.4.0/localization/jquery.jtable.vi.js"></script>

    @*Common*@
    <link href="~/Content/Jquery.alerts/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.alerts.js"></script>
    <script src="~/Scripts/VINASIC/date.format.js"></script>
    <script src="~/Scripts/VINASIC/common.js"></script>
</head>
<body>
     @Html.Action("HeadMasterPartial", "Shared")
    @*body*@
    <div class="content">
        <div id="content-left">
            @Html.Action("MenuLeftMasterPartial", "Shared")

        </div>
        <div id="content-right">
            @Html.Action("MenuTopMasterPartial", "Shared")


            <div style="padding: 10px">
                @RenderBody()
            </div>
        </div>
        <div style="clear: both"></div>
    </div>

    @*foot*@
    <footer class="foot">
        <span style="color: rgb(3, 98, 224); font-weight: bold">VINASIC</span> <span>Company</span><br />
        <span>&copy; Company @System.DateTime.Now.ToString("yyyy")</span>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
