﻿@*@using SystemAccount.Bussiness.Interface.Model
@{     
    
    GPRO.Core.Interface.IUserService userInfo = Model;
    List<ModelModule> modules = null;
    if (ViewData["Module"] != null)
    {
        modules = ViewData["Module"] as List<ModelModule>;
    }
}*@
<div class="navbar navbar-inverse" style="height: 40px;">
    <div class="navbar-inner" style="/*border-bottom: 4px solid green; background: red; */">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".ParentMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="dropdown navbar-account">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    @*avatar*@
                @*   <img class="avatar" src="@userInfo.ImagePath" />*@
                    <img class="avatar" src="~/Content/MasterPage/Images/world.ico" />
                </a>
                <div class="dropdown-menu account-box rec" role="menu">
                    <a href="#">
                        @*avatar*@
                       @* <div class="dropdown-menu-avatar" style="background:url('@userInfo.ImagePath'); background-size:100px"></div>*@
                    </a>
                    <div class="name-box">
                        @*name & email*@
                        <span class="name">Trần Quốc Bảo</span><br />
                        @*<span class="name">@userInfo.EmployeeName</span><br />
                        <span class="email">@userInfo.Email</span>*@
                        <span class="email">Quocbao.uit@gmail.com</span>
                    </div>
                    <div style="clear: left"></div>
                    <div class="dropdown-menu-button">
                        <a btn="userProfile" href="#" class="btn btn-primary">Tài Khoản</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a btn="Logout" class="btn btn-default ">Đăng Xuất</a>
                    </div>
                </div>
            </div>
            @*/****         end          ******/*@
            @*      Logo        *@
            <a class="brand" href="#" title="change in _bootstrapLayout.basic.cshtml">
               @* <img src="@userInfo.LogoCompany" width="35" />*@
            </a>

            <div class="nav-collapse collapse ParentMenu" style="z-index: 10">
                <ul class="nav navbar-nav navigation">
                    @*module list*@
                   @* @foreach (var module in modules)
                    {
                        <li class="@(module.SystemName.Trim().ToUpper().Equals(SystemAccount.App_Global.AppGlobal.MODULE_NAME.Trim().ToUpper()) ? "active" : "") "><a href="@module.ModuleUrl">@module.ModuleName</a></li>
                    }*@
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 2px 50px">
                            @*avatar*@
              @*              <img class="avatar" src="@userInfo.ImagePath" />*@
                            <img class="avatar" src="~/Content/MasterPage/Images/world.ico" />
                        </a>
                        <div class="dropdown-menu account-box" role="menu">
                            <a href="#">
                                @*avatar*@
                                <div class="dropdown-menu-avatar" style="background:url('~/Content/MasterPage/Images/world.ico'); background-size:100px"></div>
                            </a>
                            <div class="name-box">
                                @*name & email*@
                                 <span class="name">Trần Quốc Bảo</span><br />
                               @* <span class="name">@userInfo.EmployeeName</span><br />
                                <span class="email">@userInfo.Email</span>*@
                                <span class="email">Quocbao.uit@gmail.com</span>
                            </div>
                            <div style="clear: left"></div>
                            <div class="dropdown-menu-button">
                                <a btn="userProfile" class="btn btn-primary">Tài Khoản</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a btn="Logout" class="btn btn-default ">Đăng Xuất</a>
                            </div>

                        </div>
                    </li>
                </ul>

            </div>
            <div style="clear: both"></div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[btn="Logout"]').click(function () {
            window.location.href = '/Authenticate/Logout';
        });
        $('[btn="userProfile"]').click(function () {
            window.location.href = '/UserProFile/Index';
        });
    });

</script>
