﻿@model List<VINASIC.Business.Interface.Model.ModelMenuCategory>
@using VINASIC.Business.Interface.Model;
@{
    List<ModelMenuCategory> listMenuCategory = Model;    
    int activeIndex = 0;
    bool active = false;
}
@if (listMenuCategory != null)
{
    <div id="menu-left" class="left-menu">
        <div id="MenuLeftAcc">
            @for (int i = 0; i < listMenuCategory.Count; i++)
            {             
                <h3 style="@(i == 0 ? "margin-top:0 !important" : "")">
                    <a href="@listMenuCategory[i].Link">@listMenuCategory[i].Category</a>
                </h3>
                <div>
                    @if (listMenuCategory[i].listMenu != null)
                    {
                        var menus = listMenuCategory[i].listMenu;
                        HtmlString img = null;                        
                        if (menus.Count > 0)
                        {
                        <ul class="left-menu-content">
                            @foreach (var menu in menus)
                            {
                                if (menu.IsViewIcon && menu.Icon != null)
                                {
                                    img = new HtmlString("<img src='"+ @menu.Icon + "' />");
                                }
                                if (!string.IsNullOrEmpty(menu.Link) && (menu.Link.Equals(Request.Url.PathAndQuery) || (Request.Url.PathAndQuery.Equals("/") && menu.Link.Equals(ViewData["defaultPage"].ToString()))))
                                {
                                    activeIndex = i;
                                    active = true;
                                }
                                <li class=" @(active ? "menu-left-active" : "")">
                                    <div class="menu-left-icon">@Html.Raw(img)</div>
                                    <a href="@menu.Link">@menu.MenuName</a></li>
                                active = false;
                                img = null;
                            }
                        </ul> 
                        }
                    }
                </div>                           
            }
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };

        $("#MenuLeftAcc").accordion({
            icons: icons,
            heightStyle: "content",
            active: @activeIndex
        });
    });


</script>
