﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Common.css" rel="stylesheet" />
<script src="~/Scripts/VINASIC/StockIn/StockIn_Index.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-user-md"></i>QUẢN LÝ NHẬP HÀNG</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Dashboard/index">Trang Chủ</a></li>
            <li><i class="icon_documents_alt"></i>nhập hàng</li>
            <li><i class="fa fa-user-md"></i>Quản Lý nhập hàng</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                    <li id="ProcessStockIn" class="active">
                        <a data-toggle="tab" href="#recent-activity">
                            <i class="icon-home"></i>
                            Xử Lý nhập hàng
                        </a>
                    </li>
                    <li id="CreateStockIn" class="">
                        <a data-toggle="tab" href="#edit-profile">
                            <i class="icon-envelope"></i>
                            Tạo Mới/Chỉnh Sửa nhập hàng
                        </a>
                    </li>
                </ul>
            </header>
            <div style="border-style: none" class="panel-body pannel-StockIn">
                <div class="tab-content">
                    <div id="recent-activity" class="tab-pane active">
                        <div style="margin-bottom: 15px;" class="row">
                            <div class="form-group">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="datefrom">Từ Ngày</label>
                                    <input type="date" class="form-control" name="datefrom" value="" id="datefrom" />
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="dateto">Đến Ngày</label>
                                    <input type="date" class="form-control" name="dateto" value="" id="dateto" />
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="keyword">Từ Khóa</label>
                                    <input type="text" class="form-control" id="keyword" placeholder="" onkeypress=" return isNumberKey(event)">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <a id="search" style="margin-top: 25px" class="btn btn-primary" href="javascript:void(0)" title="Bootstrap 3 themes generator"><span class="icon_lightbulb_alt"></span>Tìm Kiếm</a>
                                </div>
                            </div>
                        </div>
                        <div id="jtableStockIn"></div>
                    </div>
                    <div id="edit-profile" class="tab-pane">
                        <section class="panel">
                            <div class="panel-body bio-graph-info">
                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Thông Tin Nhà Cung Cấp
                                        </header>
                                        <div class="panel-body">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="dproduct">Chọn nhà cung cấp</label>
                                                    <select id="spartner" class="form-control input-lg m-bot15 detail">
                                                        <option value="0">Chọn nhà cung cấp</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="caddress">Mô Tả</label>
                                                    <textarea style="height: 93px" name="" id="sdescription" class="form-control" cols="30" rows="2"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ctaxcode">Ngày Nhập hàng</label>
                                                    <input type="date" class="form-control" name="date" value="" id="date" />
                                                </div>

                                            </form>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Thông Tin Nhà Cung Cấp
                                        </header>
                                        <div class="panel-body">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label  for="cmail">Email</label>
                                                    <input disabled="disabled" type="text" class="form-control" id="cmail" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="caddress">Địa Chỉ</label>
                                                    <input disabled="disabled" type="text" class="form-control" id="caddress" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ctaxcode">Mã Số Thuế</label>
                                                    <input disabled="disabled" type="text" class="form-control" id="ctaxcode" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="cphone">Số Điện Thoại</label>
                                                    <input disabled="disabled" type="text" class="form-control" id="cphone" placeholder="">
                                                </div>
                                            </form>

                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Thông Tin nhập hàng
                                        </header>
                                        <div class="panel-body">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dproductType">Chọn loại hàng</label>
                                                    <select id="dproductType" class="form-control input-lg m-bot15">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dproduct">Chọn Hàng</label>
                                                    <select id="dproduct" class="form-control input-lg m-bot15 detail">
                                                        <option value="0">Chọn Loại Dịch Vụ Trước</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <label for="dquantity">Số Lượng</label>
                                                <input id="dquantity" type="text" class="form-control detail caculator caculatorTotal" placeholder="" onkeypress=" return isNumberKey(event)">
                                            </div>
                                            <div class="col-lg-2">
                                                <label for="dprice">Đơn Giá(vnd)</label>
                                                <input id="dprice" type="text" class="form-control detail caculator caculatorTotal" placeholder="" onkeypress=" return isNumberKey(event)">
                                            </div>
                                            <div class="col-lg-2">
                                                <label for="dsubtotal">Thành Tiền(vnd)</label>
                                                <input id="dsubtotal" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event)">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="dnote">Ghi Chú</label>
                                                <input id="dnote" type="text" class="form-control detail" placeholder="">
                                            </div>
                                            <a id="resetDetail" style="margin-top: 20px; margin-bottom: 10px; margin-left: 10px" title="" class="btn btn-warning btn-sm" href="javascript:void(0)">Reset</a>
                                            <br />
                                            <div id="jtableStockInDetail"></div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <h4>Tổng Tiền Hàng:</h4>
                                                </div>
                                                    <input style="text-align: right;margin-top: 10px; margin-right: 12px; width: 500px; float: right" id="dtotal" type="text" class="form-control dsubtotal" placeholder="">
                                                   <strong style="margin-top: 10px; width: 50px; float: right">VND</strong>
                                            </div>
                                            <a id="saveStockIn" style="margin-left: 20px; margin-top: 20px" title="" class="btn btn-primary btn-sm" href="javascript:void(0)">Lưu nhập hàngG</a>
                                            <a id="resetStockIn" style="margin-top: 20px" title="" class="btn btn-warning btn-sm" href="javascript:void(0)">Reset</a>
                                            <a id="canelStockIn" style="margin-top: 20px" title="" class="btn btn-danger btn-sm" href="javascript:void(0)">Hủy Bỏ</a>
                                        </div>
                                    </section>
                                </div>

                            </div>

                        </section>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<!-- page end-->
