    .modal-3-col {
        width:1000px; 
        left:33%
    }

    .modal-3-col .col {
        width:33%;
            float : left;
    }
        
    .modal-3-col .col label {
    width:100%;
    text-align:left;
    }

    .modal-3-col .col input,  
    .modal-3-col .col textarea,  
    .modal-3-col .col select {
        width : 90%
    }
    .modal-3-col .col input[type="checkbox"] {
    width:20px;
    }

    .modal-3-col .col_left  {
        width:35%
    }

    .modal-3-col .col4_left  {
        float:left;
        width:25%
    }

@media (max-width:1100px) {
    .modal-3-col {
        width:100%;
        left:0;
        margin:0;
    }
} 

@media (max-width:620px) {
    
     .modal-3-col .col {
        width:100%;
            float : left;
    }
        
    .modal-3-col .col label {
        width:100%;
        text-align:left;
        }

        .modal-3-col .col input,  
        .modal-3-col .col textarea,  
        .modal-3-col .col select {
            width : 90%
        }

        .modal-3-col .col textarea {
            height:50px !important
        }
}

@media (max-width:480px) {
    .modal-3-col .col {
        padding:5px 0
    }
}